.Loader {
  position: fixed;
  bottom: 3%;
  left: 2%;
  background-color: #fff;
  padding: 7px;
  border-radius: 50%;
  z-index: 10000;

  @media only screen and (max-width: 600px) {
    bottom: 3%;
    left: 5%;
  }
}
