.switch-root {
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.switch-root p {
  color: #e0e0e0;
  transition: color 0.2s ease;
}

.switch-input {
  position: relative;
  appearance: none;
  width: 80px;
  height: 40px;
  background-color: #fff;
  border-radius: 5rem;
  border: 1px solid #e0e0e0;
  transition: background-image 0.2s ease;
  cursor: pointer;
}

.switch-input::before {
  content: '';
  position: absolute;
  width: 44px;
  height: 44px;
  background-color: #24cca7;
  box-shadow: 0px 6px 15px rgba(36, 204, 167, 0.5);
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('data:image/svg+xml;utf8, <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 0V20" stroke="white" stroke-width="2"/><path d="M0 10L20 10" stroke="white" stroke-width="2"/></svg>');
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  top: 50%;
  left: -5px;
  transform: translateY(-50%);
  border-radius: 50%;
  transition: all 0.2s ease;
  z-index: 10;
}

.switch-input:checked::before {
  left: 50%;
  background-color: #ff6596;
  box-shadow: 0px 6px 15px rgba(255, 101, 150, 0.5);
  background-image: url('data:image/svg+xml;utf8, <svg width="20" height="2" viewBox="0 0 20 2" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 1L20 0.999999" stroke="white" stroke-width="2"/></svg>');
}

.label-checked.active {
  color: #ff6596;
}

.label-default.active {
  color: #24cca7;
}
