.tableHead {
  border-radius: 50%;
}
.selectContainer {
  display: flex;
  justify-content: space-between;
  // margin-bottom: 20px;
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
  }
}
.cellName {
  display: flex;
}
.tableContainer {
  min-width: 280px;
}
