   
    .notFoundContainer {
 display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    .link {
        font-size: 25px;
        text-decoration: none;
        @media screen and (min-width: 768px) {
    font-size: 35px;
  }
    }
    .errorTitle{
            font-size: 50px;
    }
    .image {
        width: 300px;
@media screen and (min-width: 768px) {
    width: 400px;
  }
    }